<section id="login-wrapper">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <div id="login">
    <%= form_tag sessions_path, :class => "form-horizontal", :method => :post do %>
    <fieldset>
      <legend>Sign in to HeatSync Labs iQ</legend>
      <div class="control-group">
        <label class="control-label">Email:</label>
        <div class="controls">
          <%= text_field_tag :email, nil, :placeholder => "Email address", :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Password:</label>
        <div class="controls">
          <%= password_field_tag :password, nil, :placeholder => "Password", :class => "input-xlarge" %>
        </div>
      </div>
      <div>
        <%= submit_tag "Sign In", :class => "btn" %>
      </div>
    </fieldset>
    <% end%>
  </div>
  <div id="login-info">
    <h2>Not a member? <strong>Learn more</strong> about HeatSync Labs or <strong>sign up</strong>.</h2> 
    <p>
      HeatSync Labs is a 501(c)3 nonprofit workshop which empowers engineers and artists to 
      create and invent while promoting interest in expanding the limits of technology beyond 
      its intended use. Check out our Events page for hours of operation and calendar of events, 
      or the Get Involved page to connect with the community.
    </p>
  </div>
</section>