<div>
  <h3>Sign in to HeatSync Labs iQ</h3>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <%= form_tag sessions_path, :id => 'login', :method => :post do %>
    <dl>
      <dt><%= label_tag :email %></dt>
      <dd><%= text_field_tag :email %></dd>
      <dt><%= label_tag :password %></dt>
      <dd><%= text_field_tag :password %></dd>
    </dl>
    <p><%= submit_tag 'sign in' %>
  <% end %>
</div>
<div>
<p>Not a member? Learn more about HeatSync Labs or sign up.</p> 
<p>
  HeatSync Labs is a 501(c)3 nonprofit workshop which empowers engineers and artists to 
  create and invent while promoting interest in expanding the limits of technology beyond 
  its intended use. Check out our Events page for hours of operation and calendar of events, 
  or the Get Involved page to connect with the community.
</p>
</div>
