<!DOCTYPE html>
<html>
<head>
  <title>HeatSync Labs - iQ</title>
  <%= stylesheet_link_tag    "screen" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Site Navigation -->
<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'HSL iQ', root_path, :class => "brand" %>
      <% if current_user %>
      <ul class="nav">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Treasury</a></li>
        <li><a href="#">Tools</a></li>
      </ul>
      <% end %>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <% if current_user %>
        <li><a href="#">Profile</a></li>
        <li><%= link_to 'Sign Out', sign_out_path %></li>
        <% else %>
        <li><%= link_to 'Sign In', sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="container"> 
<section id="main-content">
<%= yield %>
</section>
<footer></footer>
</div>

<%= javascript_include_tag "application" %>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>